<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
      
      img {
        padding-top: 3%;
}
html,
body {
  background-color: #eaeaea;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: #fff;
  height: 600px;
  width: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  overflow: hidden;
}
.gg{
  display: flex;
    justify-content: center;
    padding-left:40px;
    padding-right:40px;
    
    margin-top: -5px;
}
.gg1{
  display: flex;
    justify-content: left;
    padding-left:30px;
    padding-right:30px;
}




table, th, td {
  border: 1px solid black;
  border-style: double;
  border-collapse: collapse;
  background-color: rgb(195, 217, 237);
 
  margin-left: auto;
  margin-right: auto;
   
}
.bbb{
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top:3%;
  color: #545252;
}
.dd{
  display: flex;
  justify-content: center;
  text-align: left;
  color: #545252;
  margin-top: -20px;
}
</style>

</head>

<body>
  <div class="card">
    <div class="gg">
      <img   src="https://template.preview.drcstudio.co.in/logo.png" alt="" width="60px" height="60px"></br> 
      </div>
      <div class="gg">
      <h1>Anya Healthcare</h1>
      </div>
    
      <div class="gg1">
        <h3>Hi {{name}},</h3>
      </div>
      
      <div class="gg">
        <h4>Your appoinment has been booked successfully for the given time slot.Kindly be on time to avoid cancellation of your appoinment </h4>
      </div>
            <table style="width:85%">

              <tr>
                <th>Doctor</th>
                <th>Speciality</th> 
                <th>Date</th>
                <th>Time</th>
              </tr>
              <tr>
                <td>{{doctor}}</td>
                <td>{{speciality}}</td>
                <td>{{date}}</td>
                <td>{{time}}</td>
              </tr>
             
            </table>
            
              <div class="bbb">
              <h5>Need to change your appointment?<br>To make changes to your appointment,move to our website.</h5>
              </div>
              <div class="dd">
              <h5>If you did not request this, please contact healthcare center.<br>Thanks {{name}}.</h5>
              </div>
</div>
           
</body>
</html>